@font-face {
	font-family: "Noto Sans KR Thin";
	src: url('./fonts/NotoSansKR-100.otf') format('opentype');
}

@font-face {
	font-family: "Noto Sans KR Bold";
	src: url('./fonts/NotoSansKR-900.otf') format('opentype');
}

html {
	margin: 0;
	padding: 0;
	width: max-content;
	height: 100vh;
	font-family: 'Noto Sans KR Thin';
}

body {
	padding: 20px;
	margin: 0px;
	background-color: #F5F1F2;
	cursor: url('./images/cursor_basic.png'), auto;
}

a {
	cursor: url('./images/cursor_link.png'), auto;
	text-decoration: none;
}

.logo {
	display: flex;
	align-items: center;
	padding-bottom: 20vh;
}

.logo a {
	font-size: 30px;
	font-family: "Noto Sans KR Bold";
	padding-left: 10px;
	color: #6B4951;
}

.logo p {
	font-size: 20px;
	font-family: "Noto Sans KR Thin";
	padding-left: 10px;
	color: #6B4951;
}

.swiper {
	margin: 0;
	display: flex;
}

.swiper li {
	list-style-type: none;
	font-family: 'Noto Sans KR Bold';
	height: 55vh;
}

img {
	transition: .5s;
}

.box {
	display: flex;
}

.special:nth-of-type(n + 2), .end {
	position: absolute;
}

.clocking {
	display: none;
}

.special:hover img {
	-webkit-transform: scale(1.6, 1.6);
	transform: scale(1.6, 1.6);
	opacity: 0.5;
	padding-left: 100px; /* 굳이 padding을 넣어서 다른 요소로 넘어가는걸 방해해야 하나? */
	padding-right: 100px;
}

.special:hover .hidden {
	opacity: 100%;
}

.hidden {
	font-size: 3vh;
	color: #6B4951;
	position: absolute;
	bottom: 0%;
	padding-left: 70px;
	opacity: 0%;
	transition: .5s;
}

.hidden > h3 {
	font-size: 7vh;
	margin: 0;
}

.hidden > p {
	font-family: "Noto Sans KR Thin";
	font-size: 3vh;
	margin: 0;
	white-space: nowrap;
}