body {
	text-align: center;
	background: #193549;
	color: white;
	font: {
		family: 'helvetica neue', sans-serif;
		weight: 100;
	}
	line-height: 2.5em;
}

h2 {
	color: #ffe15c;
}

.images {
	display: flex;
	justify-content: center;
	img {
		width: 30%;
		height: 30%;
	}	
}

a {
	color: #193549;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
}
