:root {
	--base: #ffc600;
	--spacing: 10px;
	--round: 5%;
}
  
img {
	padding: var(--spacing); /* $spacing 느낌. 변수 저장하고 불러오기 */
	background: var(--base);
	border-radius: var(--round);
}

.hl {
	color: var(--base);
}

body {
	text-align: center;
	background: #193549;
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.controls {
	margin-bottom: 50px;
}

input {
	width: 100px;
}